//メイン
.Main
  //③メインヘッダー
  .Main__header
    .Main__title_member
      .Main__title 
        =@group.name
      .Main__member 
        .Main__list
        Member：
        - @group.users.each do |user|
          = user.name
        
 
    =link_to edit_group_path(@group.id),class:"Main__edit--btn" do
      ="Edit"

  //④チャット画面
  .Main__chat_space
    = render @messages

  //⑤メインフッター
  .Main__footer
    = form_with model: [@group, @message], html: {class: "Main__formcontents"}, local: true do |f|
      .Main__form
        = f.text_field :content, class: 'Main__form_image', placeholder: 'type a message'
        = f.label :image, class: 'Main__image' do
          = icon('far', 'image', class: 'Main__icon')
          = f.file_field :image, class: 'Main__Hidden'
      = f.submit 'Send', class: 'Main__send--btn'      
      //, #'data-disable-with' => false
